In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
VAC_Attendance=pd.Series([124,125,130],index=[1,2,3])

In [4]:
print(VAC_Attendance)

1    124
2    125
3    130
dtype: int64

In [5]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'june'}}

In [6]:
d=pd.DataFrame(season,columns=["rainy","dry"])

In [7]:
d

  rainy   dry
1   nov   mar
2   dec   apr
3   jan   may
4   feb  june

In [8]:
import numpy as np

In [9]:
a=pd.DataFrame(np.random.randint(0,300,size=(12,6)),columns=list(('abcdef')))

In [10]:
print(a)

      a    b    c    d    e    f
0   130  103   14    8  278  129
1   270   96   29   61    7  117
2   146   23  177   20  170  152
3    61  232  166   76    4  272
4   109  222  205   70  239  272
5   184  270  278    0   90  237
6   288  154  183   43  261  207
7    39  147   58  250  278  101
8   212    8   48   15   89  294
9   222  192   69  292   96  116
10  193   52  173   17  251  209
11   94  125  284  170  237  287

In [11]:
a.to_csv("D:\kathu.csv")

In [12]:
a.drop("f",axis=1)

      a    b    c    d    e
0   130  103   14    8  278
1   270   96   29   61    7
2   146   23  177   20  170
3    61  232  166   76    4
4   109  222  205   70  239
5   184  270  278    0   90
6   288  154  183   43  261
7    39  147   58  250  278
8   212    8   48   15   89
9   222  192   69  292   96
10  193   52  173   17  251
11   94  125  284  170  237

In [13]:
e=a.drop("f",axis=1)

In [14]:
e.drop("a",axis=1)

      b    c    d    e
0   103   14    8  278
1    96   29   61    7
2    23  177   20  170
3   232  166   76    4
4   222  205   70  239
5   270  278    0   90
6   154  183   43  261
7   147   58  250  278
8     8   48   15   89
9   192   69  292   96
10   52  173   17  251
11  125  284  170  237

In [15]:
d.shape

(4, 2)

In [16]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rainy   4 non-null      object
 1   dry     4 non-null      object
dtypes: object(2)
memory usage: 96.0+ bytes