In [1]:
pip show sklearn

Name: sklearn
Version: 0.0.post1
Summary: deprecated sklearn package, use scikit-learn instead
Home-page:
Author:
Author-email:
License:
Location: c:\users\admin\anaconda3\envs\kathu\lib\site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (0.0.post1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\anaconda3\envs\kathu\lib\site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
import pandas as pd

In [6]:
salary_details=pd.DataFrame({'salary':[20000,30000,50000,60000,70000],'cat':['little low','low','medium','high','more high']})

In [7]:
salary_details

   salary         cat
0   20000  little low
1   30000         low
2   50000      medium
3   60000        high
4   70000   more high

In [8]:
salary_details.cat.map({'little low':1,'low':2,'medium':3,'high':4,'more high':5})

0    1
1    2
2    3
3    4
4    5
Name: cat, dtype: int64